<div class="ui header">Modifier un développeur</div>

{{input value=model.copy.identity class="ui input"}}
<button {{action "save" model }}class="ui primary button">Modifier</button>

{{outlet}}
